<div class="social-links__box">
  <a
    title="linkedin"
    target="_blank"
    rel="noopener"
    href="https://www.linkedin.com/in/zouhirkarim1999/"
    ><img src="assets/images/linkedin.svg" alt="linkedin"
  /></a>
  <a
    title="github"
    target="_blank"
    rel="noopener"
    href="https://github.com/Karim-1999"
  >
    <img src="assets/images/github.svg" alt="github"
  /></a>
  <a title="email" href="mailto: imparoprogrammazione@gmail.com">
    <img src="assets/images/email.svg" alt="email"
  /></a>
</div>
