<div class="main-info__box">
  <article class="hero-card"> <img src="https://media.licdn.com/dms/image/D4E03AQF44TLfpDoW6A/profile-displayphoto-shrink_200_200/0/1673720403953?e=1684972800&v=beta&t=lGm5fXAngbX1eACQpS6UgaHa3XcW2DZGfqtshMsJ8a0" alt="my photo" />
    <div class="hero-text__box">
     
      <h1 class="hero-text__heading">👋 Hey there! I'm <span>Karim</span>.</h1>
      <p class="hero-text__paragraph">
        A highly proficient front-end developer with expertise in web design and
        user experience.
      </p>
    </div>
    <img src="assets/images/heroLaptop.jpg" alt="image of laptop" />
    <app-sociallinks></app-sociallinks>
  </article>
  <div class="main-btn__box">
    <a class="main-link__rainbow" routerLink="projects" title="projects button"
      >Projects</a
    >
    <a
      class="main-link__normal"
      title="resume page"
      rel="noopener"
      target="_blank"
      href="https://drive.google.com/file/d/1Yboi2SK6pKdJPVCPp0yAFYvP3-ECK0fo/view?usp=sharing"
      >Resume</a
    >
  </div>
</div>
